<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/trang/IdeaProjects/AUTO_TEST">
        <classes>
            <class name="POM.tests.RegisterPageTest">
                <methods>
                    <include name="Test1"/>
                    <include name="Test2"/>
                    <include name="Test3"/>
                    <include name="Test4"/>
                    <include name="Test5"/>
                    <include name="Test6"/>
                </methods>
            </class>
            <class name="POM.tests.LoginPageTest">
                <methods>
                    <include name="Test1"/>
                    <include name="Test2"/>
                    <include name="Test3"/>
                    <include name="Test4"/>
                    <include name="Test5"/>
                </methods>
            </class>

            <class name="POM.tests.HomePageTest">
                <methods>
                    <include name="testClickLogo"/>
                    <include name="testCLickMennuBar"/>
                </methods>
            </class>
            <class name="POM.tests.CategoriesPageTest">
                <methods>
                    <include name="Test1"/>
                    <include name="Test2"/>
                    <include name="Test3"/>
                    <include name="Test4"/>
                    <include name="Test5"/>
                    <include name="Test6"/>
                    <include name="Test7"/>
                    <include name="Test8"/>
                    <include name="Test9"/>
                    <include name="Test10"/>
                    <include name="Test11"/>
                </methods>
            </class>
            <class name="POM.tests.AddProductTest">
                <methods>
                    <include name="Test1"/>
                    <include name="Test2"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>